<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SportsStore</title>
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
	<div class="bg-success text-white p-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col navbar-brand">Магазин спортивных товаров</div>
				<div class="col-2 text-right">
					<a class="btn btn-sm btn-primary" href="@Url.Action("Login", "Account")" class="elements">
						<span>Авторизация</span>
					</a>
					<a class="btn btn-sm btn-primary" asp-page="/Users/List"
						asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
						<span>Регистрация</span>
					</a>
				</div>
				<div class="col-6 navbar-text text-end">
					<vc:cart-summary />
				</div>
			</div>
		</div>
	</div>
	<div class="row m-1 p-1">
		<div class="col-9">
			@RenderBody()
		</div>
		<div id="categories" class="col-3">
			@await Component.InvokeAsync("NavigationMenu")
		</div>
	</div>
</body>
</html>